body {
    background-color: red; 
    color: white;
    font-family: cursive;
}

nav {
    border: 10px dashed green;
    display: flex;
    flex-wrap: wrap;
}

ul  {
    background-color: blue;
}
header {
    display: flex;
    flex-wrap: wrap;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;

}

article {
    width: 75%;
    background-color: green;
    // float: left;
}

aside {
    width: 25%;
    // float:right;
}

section {
    width: 100%;
    background-color: magenta;
}